@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Top Ten F1 Drivers</h1>
    <p>.... <a href="https://localhost:4001/driver/all">Top Ten List</a>.</p>
</div>
